# Blizzard API
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/wow_sniper

# Redis
REDIS_URL=redis://localhost:6379

# Clerk Auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
STRIPE_GOLD_PRICE_ID=

# Resend
RESEND_API_KEY=
